<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Home</title>
</head>
<body>
    <form action="/" method="POST">
        Nome do cliente: <input type="text" name="qualquercoisa"><br>
        Outro campo: <input type="text" name="aquioutrocampo">
        <button>Olá mundo</button>
        </form>
</body>
</html>